h1{
font-family: Verdana, Geneva, sans-serif;
background-color: Yellow;
}

#master {
    margin: 50px 0px;
    width: 680px;
    height: 600 px;
    background-color: LightYellow;
    border: 4px solid Gold;
    text-align: center;
}

#slideshow > img {
    margin: 20px 0px;
    width: auto;
    max-width: 640px;
    height: auto;
    max-height: 480px;
}

#slideshow{
    height: 480px;
}

#caption{
    font-size: 14px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    background-color: Yellow;
    margin: 20px 0px 0px 0px;
    padding: 5px 0px 0px 0px;
    clear: left;
    display: block;
    float: none;
}

#buttons{
    background-color: Black;
    padding: 5px 0px 5px 0px;
    display: block;
    float: none;
}

#buttons > button{
    background-color: LightYellow;
    border: 1px solid Khaki;
}

button#play{
    display: none;
}
